<div>
    <h2>Players</h2>
    <jh-alert></jh-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="player.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span
class="hidden-xs"                       >Create new Player
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="{{ 'kickerappApp.player.home.search' }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="search()">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span>ID</span></th>
                    <th><span>Name</span></th>
                    <th><span>Wins</span></th>
                    <th><span>Losses</span></th>
                    <th><span>Ties</span></th>
                    <th><span>Mmr</span></th>
                    <th><span>Avg_duration</span></th>
                    <th><span>account</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="player in players track by player.id">
                    <td><a ui-sref="player.detail({id:player.id})">{{player.id}}</a></td>
                    <td>{{player.name}}</td>
                    <td>{{player.wins}}</td>
                    <td>{{player.losses}}</td>
                    <td>{{player.ties}}</td>
                    <td>{{player.mmr}}</td>
                    <td>{{player.avg_duration}}</td>
                    <td>
                        {{player.account.login}}
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="player.detail({id:player.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="player.edit({id:player.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="player.delete({id:player.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
